body {
  font: normal 14px/1.4 sans-serif;
  color: $color-base;
  // -webkit-font-smoothing: antialiased;
  //         font-smoothing: antialiased;
}

p {
  margin: 10px 0;
}

/* headings --------------------- */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 10px 0;
}
h1 { font-size: 3.0em; }
h2 { font-size: 2.6em; }
h3 { font-size: 2.2em; }
h4 { font-size: 1.8em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.1em; }

/* links ------------------------ */

a {
  text-decoration: none;
  color: $color-gray-dark;
  &:visited { color: $color-gray-darker; }
  &:hover   { color: $color-gray-darker; }
  &:focus   { color: $color-gray-darker; }
  &:active  { color: $color-gray-darker; }
}

/* forms ------------------------ */
