// sprite -----------------------------------------------

.sprite {
  background: $sprite;
  display: inline-block;
  a {
    display: inherit; width: inherit; height: inherit; text-indent: -9999px;
  }
}

@each $i in sprite_names($sprite) {
  .#{$i}.sprite {
    background-position: sprite_position($sprite, $i);
    @include sprite_dimensions($sprite, $i);
  }
}
